#init("订单列表",["订单管理","订单列表"])
#define($css)
  <link href="/static/javascripts/x-editable/css/bootstrap-editable.css" rel="stylesheet">
 <link href="/static/javascripts/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
 <style>
#myTab>li>a{
 margin-right:0px;
}
.borderless td, .borderless th {
    border: none !important;
}
.left-indent{
	text-indent:-20px;
}
 </style>
#end
<div class="col-md-12">


        <div class="panel colourable">
            <div class="panel-body">
           <div class="row">
                    <div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-4 control-label no-padding-right no-padding-left">订单号：</label>
						<div class="col-md-8 row no-padding-left">
							<label class="control-label no-padding-right no-padding-left">$!order.code</label>
						</div>
					 </div>
                    </div>
					<div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-4 control-label no-padding-right no-padding-left left-indent">当前状态：</label>
						<div class="col-md-8 row no-padding-left">
							<label class="control-label no-padding-right no-padding-left">
							  #if($!order.status==10)
								待付款
							  #end
							  #if($!order.status==20)
								已付款
							  #end
							  #if($!order.status==30)
								待发货
							  #end
							  #if($!order.status==40)
								已发货
							  #end
							  #if($!order.status==50)
								已完成
							  #end
							  #if($!order.status==60)
								已关闭
							  #end
							</label>
						</div>
					 </div>
                    </div>
					<div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-4 control-label no-padding-right no-padding-left left-indent">支付方式：</label>
						<div class="col-md-8 row no-padding-left">
							<label class="control-label no-padding-right no-padding-left">
								#if($!order.paymentType==1)
									支付宝
								#else
									微信支付
								#end
								
								</label>
						</div>
					 </div>
                    </div>
					<div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-4 control-label no-padding-right no-padding-left left-indent">会员名称：</label>
						<div class="col-md-8 row no-padding-left">
							<label class="control-label no-padding-right no-padding-left">$!order.memberName</label>
						</div>
					 </div>
                    </div>
            </div>
			<div class="row" style="margin-top:20px;">
				 <div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-5 control-label no-padding-right no-padding-left left-indent">支付流水号：</label>
						<div class="col-md-7 row no-padding-left">
							<label class="control-label no-padding-right no-padding-left">$!order.paymentCode</label>
						</div>
					 </div>
                    </div>
					<div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-4 control-label no-padding-right no-padding-left">备注：</label>
						<div class="col-md-8 row no-padding-left">
							<label class="control-label no-padding-right no-padding-left">  
								<a href="#" data-pk="1" data-url="/order/updateNote?orderId=$!order.id" style="padding-top: 0px;"  data-emptytext="无" data-type="text"  data-title="修改备注" class="editable">
									$!order.note
								</a>
                           </label>
						</div>
					 </div>
                    </div>
			</div>
           </div>
			
				
        </div>
	</div>
 <div class="col-md-12">
   <div class="panel colourable">
	<div class="panel-body">
	     <ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#table1" data-toggle="tab">商品信息</a></li>
	<li><a href="#table2" data-toggle="tab">收货和物流信息</a></li>
	<li><a href="#table3" data-toggle="tab">买家信息</a></li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="table1">
		<table class="table table-striped table-bordered table-hover sonnenjahrTable">
              <thead>
                    <tr>
                      <th>商品ID</th>
                      <th>商品名称</th>
                      <th>德国价</th>
                      <th>数量</th>
					  <th>服务费</th>
					  <th>运杂费</th>
					  <th>税费</th>
					  <th>配送费</th>
					  <th>实收款</th>
                    </tr>
              </thead>
    		  <tbody>
				#foreach($item in $order.itemList)
				 <tr>
					 <td>$!item.itemId</td>
					 <td><img src="$!imgUrl/$!item.picPath" style="width:60px;height:60px;"/>   $!item.name</td>
					 <td>€ 
						#if($!order.status==10)
						  <a href="#" data-pk="1" data-url="/order/updateItemPrice?itemId=$!item.id&paramId=$!item.paramId" data-type="text"  data-title="修改德国价" class="editable">
							$velocityTool.formatMoney($!item.mPrice)</a>
						#else
						   $velocityTool.formatMoney($!item.mPrice)
					    #end
						</td>
					 <td>$!item.num</td>
					 <td>¥ $velocityTool.formatMoney($!item.servicePrice)</td>
					 <td>¥ $velocityTool.formatMoney($!item.logisticsPrice)</td>
					 <td>¥ $velocityTool.formatMoney($!item.taxFee)</td>
					 <td>
						¥ 
						#if($!order.status==10)
						  <a href="#" data-pk="1" data-url="/order/updateItemFreight?itemId=$!item.id&paramId=$!item.paramId" data-type="text"  data-title="修改配送费" class="editable">
							$velocityTool.formatMoney($!item.freightPrice)</a>
						#else
						$velocityTool.formatMoney($!item.freightPrice)
					    #end
					 </td>
					 <td>¥ $velocityTool.formatMoney($!item.totalFee)</td>
				 </tr>
				#end
    		  </tbody>
         </table>
	</div>
	<div class="tab-pane fade" id="table2">
		<h4>收货信息</h4>
		<table class="table borderless table-hover">
          <tr>
		   <td width="100px">收货人：</td>
		   <td> $!order.orderShipping.receiverName</td>
		  </tr>
		   <tr>
		   <td width="100px">收货地址：</td>
		   <td> $!order.orderShipping.province &nbsp;&nbsp;$!order.orderShipping.city &nbsp;&nbsp;
								$!order.orderShipping.district &nbsp;&nbsp;
								$!order.orderShipping.receiverAddress</td>
		  </tr>
		   <tr>
		   <td width="100px">固定电话：</td>
		   <td>$!order.orderShipping.receiverPhone</td>
		  </tr>
		  <tr>
		   <td width="100px">手机号码：</td>
		   <td> $!order.orderShipping.receiverMobile</td>
		  </tr>
		</table>
		<br/>
		<br/>
		<hr/>
			<h4>配送信息</h4>
		<table class="table borderless table-hover">
		  #foreach($logistics in $logisticsList)
          <tr>
		   <td width="100px">配送公司：</td>
		   <td>$!logistics.name </td>
		   <td width="100px">配送单号：</td>
		   <td>$!logistics.code</td>
		  </tr>
		  #end
		</table>
	</div>
	<div class="tab-pane fade" id="table3">
			<table class="table borderless table-hover">
          <tr>
		   <td width="120px">真实姓名：</td>
		   <td> $!order.orderShipping.realName</td>
		  </tr>
		   <tr>
		   <td width="120px">身份证号：</td>
		   <td>$velocityTool.getidentityNum($!order.orderShipping.identityNum) </td>
		  </tr>
		   <tr>
		   <td width="120px">身份证正面照：</td>
		   <td>
			
			  #if($!order.orderShipping.identityFrontUrl)
				已上传
			 #else
				未上传
			 #end
			<!--<img src="$!imgUrl/$!member.identityFrontUrl" style="width:96px;height:96px;">-->
					 
		  </td>
		  </tr>
		  <tr>
		   <td width="120px">身份证反面照：</td>
		   <td> 
			
			 #if($!order.orderShipping.identityBackUrl)
				已上传
			 #else
				未上传
			 #end
		   </td>
			<!--<img src="$!imgUrl/$!member.identityBackUrl" style="width:96px;height:96px;"></td>-->
		  </tr>
		</table>
	</div>
</div>
<div><button class="btn btn-default" onclick="history.go(-1);">返回</button></div>
</div>
   </div>
</div>
	
#define($js)
<script src="/static/javascripts/x-editable/js/bootstrap-editable.min.js"></script>
<script src="/static/javascripts/page/order/order-detail.js"></script>
<script>
 $(function(){
	init.push(function(){
        window.PixelAdmin.MainMenu.prototype.detectActiveItem("/order/list");
	});
})
 $.fn.editable.defaults.mode = 'popup';
	$.fn.editable.defaults.ajaxOptions = {type: "GET"};
    $('.editable').editable({
	  validate: function (value) { //字段验证
                if (!$.trim(value)) {
                    return '不能为空';
                }
            }
	});
	$(".editable").on('save', function(e, params) {
	   window.location.reload();
	});
</script>
#end