#init("运费管理",["配送管理","新增运费模板"])
#define($css)
 <link rel="stylesheet" href="/static/javascripts/jstree/themes/default/style.min.css" />
  <link href="/static/stylesheets/sumoselect.css" rel="stylesheet" type="text/css">
 <style>
 article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.m-top-bar .dropdown .sub-panel {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dedede;
}
.m-top-bar .dropdown .sub-cmp, .m-top-bar .dropdown .sub-panel {
    display: none;
    left: 0;
    position: absolute;
    top: 34px;
    z-index: 420;
}
.m-top-bar {
    color: #666;
    line-height: 35px;
}
 .c-lst {
    height: auto;
    padding: 11px 0;
    width: 547px;
}	
 .fl{
   text-decoration: none;
 }
 ol, ul {
    list-style: outside none none;
}
.citys {
    float: left;
    overflow: hidden;
    width: 248px;
    }
 
 .fl li a {cursor: pointer;
    background-color: #fff;
    color: #666;
    float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 4px;
    margin-left: 4px;
    padding: 0 5px;
    white-space: nowrap;
     text-decoration: none;
}   
.bubaoyou{
	display:none;
}
.baoyou{
}
.baoyou ul li{
	padding:0 0;
	margin:10px 10px;
	float:left;
	width:58px;
	text-align:center;
}
.baoyou ul li a{
	text-decoration:none;cursor:pointer;display:block;width:40px;height:40px;line-height:40px;
}

.baoyou ul li a:hover,.baoyouActive{
	background:rgb(61,74,93);border:black 1px solid;color:white;
}
.baoyou_city{
	text-indent:25px;
	width:500px;
	margin-bottom:30px;
}
.opt label {
    margin-bottom: 0px;
}
 </style>
#end
<form> 
 <div class="panel colourable">
            <div class="panel-heading">
                <span class="panel-title"><b id="dept_name">新增运费模板</b></span>
                 <div class="panel-heading-controls">
                </div>
            </div>
            <div class="panel-body">
            <div class="row">
                    <div class="col-md-12">
					  <div class="form-horizontal">
						<label class="col-md-2 control-label no-padding-right no-padding-left">模板名称：</label>
						<div class="col-md-6 row">
						  <input type="text" class="form-control" id="name" name="name">
						</div>
					 </div>
                    </div>
            </div>
			<div class="row" style="margin-top:20px;">
				 <div class="col-md-12">
					  <div class="form-horizontal">
						<label class="col-md-2 control-label no-padding-right no-padding-left " style="text-indent:-30px;">是否包邮：</label>
						<div class="col-md-6 row">
							<label class="radio-inline">
							  <input type="radio" name="canPackage"  value="0" checked> 是
							</label>
							<label class="radio-inline">
							  <input type="radio" name="canPackage"  value="1"> 否
							</label>
						</div>
					 </div>
                   </div>
			</div>
			<div class="row " style="margin-top:20px;">
				 <div class="col-md-12">
					  <div class="form-horizontal">
						<label class="col-md-2 control-label no-padding-right no-padding-left " style="text-indent:-30px;">计价方式：</label>
						<div class="col-md-10 row">
							<label class="radio-inline">
							  <input type="radio" name="priceWay"  value="0" checked> 按件数
							</label>
							<label class="radio-inline">
							  <input type="radio" name="priceWay" value="1"> 按重量
							</label>
							<label class="radio-inline">
							  <input type="radio" name="priceWay"  value="2"> 按体积
							</label>
							<label class="radio-inline">
							  <input type="radio" name="priceWay"  value="3"> 按金额
							</label>
						</div>
					 </div>
                   </div>
			</div>
			<div class="row bubaoyou" style="margin-top:20px;">
				 <div class="col-md-12">
					  <div class="form-horizontal">
							  <label class="col-md-2 control-label no-padding-right no-padding-left " style="text-indent:-30px;">运送方式：</label>
								
							  <div class="col-md-10 row">
							  <div >
								 快递
							   </div>
								<div class="col-md-12 row" style="border-style: solid; border-width:1px;">
									<div class="header" style="padding-top:5px;background-color:#F3FEED;margin:5px;padding:5px;display:block;">
										  默认运费：<input type="text" name="num"  style="display:inline;width:50px;">件内，
										<input type="text" name="price" style="display:inline;width:50px;">元，
										每增加<input type="text"  name="addNum" style="display:inline;width:50px;">件，
										增加运费<input type="text" " name="addPrice" style="display:inline;width:50px;">元
									</div>
									<div>
										<table class="table table-bordered" id="fareTable">
											<tr>
												<th>运送到</th>
												<th>首件（件）</th>
												<th>首费（元）</th>
												<th>续件（件）</th>
												<th>续费（元）</th>
												<th>操作</th>
											</tr>
											<tr  class="fareModel" id="fm" style="display:none">
												<td><select   style="width:200px"  multiple="multiple" placeholder="请选择城市" onchange="changeTagSelect(this);" name="tagIds" class="tagId SumoUnder"  tabindex="-1">
												 <optgroup label="A">
												 	<option>安徽</option>
				                                 </optgroup>
				                                  <optgroup label="B">
												 	<option>北京</option>
				                                 </optgroup>
				                                  <optgroup label="C">
												 	<option>重庆</option>
				                                 </optgroup>
				                                  <optgroup label="F">
												 	<option>福建</option>
				                                 </optgroup>
				                                  <optgroup label="G">
												 	<option>广东</option>
												 	<option>广西</option>
												 	<option>贵州</option>
												 	<option>甘肃</option>
				                                 </optgroup>
				                                 <optgroup label="H">
												 	<option>河北</option>
												 	<option>黑龙江</option>
												 	<option>海南</option>
												 	<option>湖北</option>
												 	<option>湖南</option>
												 	<option>河南</option>
				                                 </optgroup>
				                                 <optgroup label="J">
												 	<option>江苏</option>
												 	<option>吉林</option>
												 	<option>江西</option>
				                                 </optgroup>
				                                 <optgroup label="L">
												 	<option>辽宁</option>
				                                 </optgroup>内蒙古(西)
				                                 <optgroup label="N">
												 	<option>内蒙古(西)</option>
												 	<option>内蒙古(东)</option>
												 	<option>宁夏</option>
				                                 </optgroup>
				                                  <optgroup label="Q">
												 	<option>青海</option>
				                                 </optgroup>
				                                 <optgroup label="S">
												 	<option>上海</option>
												 	<option>山东</option>
												 	<option>山西</option>
												 	<option>四川</option>
												 	<option>陕西</option>
				                                 </optgroup>
				                                 <optgroup label="T">
												 	<option>天津</option>
				                                 </optgroup>
				                                 <optgroup label="X">
												 	<option>西藏</option>
												 	<option>新疆</option>
				                                 </optgroup>
				                                 <optgroup label="Y">
												 	<option>云南</option>
				                                 </optgroup>
				                                 <optgroup label="Z">
												 	<option>浙江</option>
				                                 </optgroup>
				                     		  </select>
				                     		  	<input class="canDefault" type="hidden" value="0"/>
				                     		  	</td>
												<td><input type="text"  class="form-control num" style="width:80px"> 
												</td>
												<td><input type="text"  class="form-control price" style="width:80px"></td>
												<td><input type="text"  class="form-control addNum" style="width:80px"></td>
												<td><input type="text"  class="form-control addPrice" style="width:80px"></td>
												<td><a class="delFare" href="#">删除</a></td>
											</tr>
										</table>
											
										<div style="margin-top:40px;">
											<a href="#" id="setFare" style="cursor:pointer">为指定地区城市设置运费</a>
										</div>
									</div>
								</div>
							 </div>
		               </div>
				</div>
			</div>
			<div class="row bubaoyou" style="margin-top:20px;">
                    <div class="col-md-12">
							  <label class="col-md-2 control-label no-padding-right no-padding-left " style="text-indent:-30px;"></label>
							  <div class="col-md-10 row">
								<a href="javascript:void(0);" id="setPackage">指定条件包邮</a>
							 </div>
					</div>
            </div>
            <div class="row bubaoyou"  id="setting">
            	 <div class="col-md-12">
            	 <label class="col-md-2 control-label no-padding-right no-padding-left " style="text-indent:-30px;"></label>
	            	 <div class="col-md-10 row">
	            	<table id="packageTable" style="display:none" class="sonnenjahrTable table table-bordered">
	            		<label class="col-md-2 control-label no-padding-right no-padding-left " style="text-indent:-30px;"></label>
	            		<div class="col-md-10 row">
		            		<tr>
		            			<th>地区设置（为指定地区城市设置运费）</th>
		            			<th>配送方式</th>
		            			<th>包邮条件</th>
		            			<th>操作</th>
		            		</tr>
		            		
	            		
	            			<tr  class="packageModel">
		            			<td>
		            				全国（默认）
								</td>
	            			<td>
	            				<select class="form-control" >
	            					<option>快递</option>
	            				</select>
	            			</td>
	            			<td>
	            			<div style="display:inline">
								<select class="form-control packageCond conditionParameter" class="form-control" style="width:130px;display:inline;">
	            					<option value="0">金额</option>
	            					<option value="1">件数</option>
	            					<option value="2">金额+件数</option>
	            				</select>
	            				</div>
	            				<div class="price" style="display:inline">
		            				<input type="text"  class="form-control" name="price"  style="margin-top:-20px;display:inline;width:60px;">元以上包邮
	            				</div>
	            				<div class="kind" style="display:inline">
		            				满 <input type="text"  class="form-control" name="num"	 style="margin-top:-20px;display:inline;width:60px;">件包邮
	            				</div>
	            				<div class="priceAndkind" style="display:inline">
		            				满 <input type="text"  class="form-control" name="num"	 style="margin-top:-20px;display:inline;width:60px;"> 件包邮
	            					<input type="text"  class="form-control" name="price"	 style="margin-top:-20px;display:inline;width:60px;"> 元以上 
	            				</div>
							</td>
	            			<td></td>
	            		</tr>
	            		</div>
	            	</table>
	            	<!--<div style="margin-top:5px;">
	            		<a href="#" id="setPackage">新增包邮条件</a>
	            	</div>-->
	            	</div>
	             </div>	
            </div>
            
            
            
            </div>
            <div class="row " style="margin-top:20px;margin-bottom:20px;">
                    <div class="col-md-12">
							  <label class="col-md-2 control-label no-padding-right no-padding-left " style="text-indent:-30px;"></label>
							  <div class="col-md-10 row">
								<button type="button" class="btn btn-primary" id="submit">保存并返回</button>
								<button type="button" class="btn btn-primary" id="return">取消</button>
							 </div>
					</div>
            </div>
            </div>
            </div>
            
            
            <div style="height:300px;">
            </div>
 </form> 
 <table id="packageBak" style="display:none;">
	<tr  class="packageModel" id="pm">
		            			<td>
		            			<select   style="width:200px" multiple="multiple" placeholder="请选择城市" name="tagIds" class="tagId SumoUnder"  tabindex="-1">
									 <optgroup label="A">
									 	<option>安徽</option>
	                                 </optgroup>
	                                  <optgroup label="B">
									 	<option>北京</option>
	                                 </optgroup>
	                                  <optgroup label="C">
									 	<option>重庆</option>
	                                 </optgroup>
	                                  <optgroup label="F">
									 	<option>福建</option>
	                                 </optgroup>
	                                  <optgroup label="G">
									 	<option>广东</option>
									 	<option>广西</option>
									 	<option>贵州</option>
									 	<option>甘肃</option>
	                                 </optgroup>
	                                 <optgroup label="H">
									 	<option>河北</option>
									 	<option>黑龙江</option>
									 	<option>海南</option>
									 	<option>湖北</option>
									 	<option>湖南</option>
									 	<option>河南</option>
	                                 </optgroup>
	                                 <optgroup label="J">
									 	<option>江苏</option>
									 	<option>吉林</option>
									 	<option>江西</option>
	                                 </optgroup>
	                                 <optgroup label="L">
									 	<option>辽宁</option>
	                                 </optgroup>内蒙古(西)
	                                 <optgroup label="N">
									 	<option>内蒙古(西)</option>
									 	<option>内蒙古(东)</option>
									 	<option>宁夏</option>
	                                 </optgroup>
	                                  <optgroup label="Q">
									 	<option>青海</option>
	                                 </optgroup>
	                                 <optgroup label="S">
									 	<option>上海</option>
									 	<option>山东</option>
									 	<option>山西</option>
									 	<option>四川</option>
									 	<option>陕西</option>
	                                 </optgroup>
	                                 <optgroup label="T">
									 	<option>天津</option>
	                                 </optgroup>
	                                 <optgroup label="X">
									 	<option>西藏</option>
									 	<option>新疆</option>
	                                 </optgroup>
	                                 <optgroup label="Y">
									 	<option>云南</option>
	                                 </optgroup>
	                                 <optgroup label="Z">
									 	<option>浙江</option>
	                                 </optgroup>
	                     		  </select>
								</td>
		            			<td>
		            				<select class="form-control"  >
		            					<option>快递</option>
		            				</select>
		            			</td>
		            			<td>
		            			<div style="display:inline">
									<select class="form-control packageCond conditionParameter" class="form-control" style="width:130px;display:inline;">
		            					<option value="0">金额</option>
		            					<option value="1">件数</option>
		            					<option value="2">金额+件数</option>
		            				</select>
		            				</div>
		            				<div class="price" style="display:inline">
			            				<input type="text"  class="form-control" name="price"	 style="margin-top:-20px;display:inline;width:60px;">元以上包邮
		            				</div>
		            				<div class="kind" style="display:inline">
			            				满 <input type="text"  class="form-control" name="num"	 style="margin-top:-20px;display:inline;width:60px;">件包邮
		            				</div>
		            				<div class="priceAndkind" style="display:inline">
			            				满 <input type="text"  class="form-control" name="num"	 style="margin-top:-20px;display:inline;width:60px;"> 件包邮
		            					<input type="text"  class="form-control" name="price"	 style="margin-top:-20px;display:inline;width:60px;"> 元以上 
		            				</div>
								</td>
		            			<td><a class="delPackage" href="#">删除</a></td>
		            		</tr>
 </table>
#define($js)
<!--<script src="/static/javascripts/page/ad/fare-add.js"></script>-->
<script src="/static/javascripts/jquery.sumoselect.js"></script>
<script>
var mo;
	 $(document).ready(function () {
	 $(".priceAndkind").hide();
	 $(".kind").hide();
   		 
          // mo= $('.prov').SumoSelect();
     });
     function changeTagSelect(e){
		return ;
	}
</script>

<script>
	$(function(){
		//$(".bubaoyou").hide();
		
		$(document).delegate(".packageCond","change",function(){
			var dom=$(this);
			//var cond=$(".packageCond").val();
			
			var cond=dom.val();
			//金额
			if(cond=="0"){
				$(this).parent().parent().find(".kind").hide();
				$(this).parent().parent().find(".priceAndkind").hide();
				$(this).parent().parent().find(".price").css("display","inline");
			}
			//件数
			else if(cond=="1"){
				$(this).parent().parent().find(".kind").css("display","inline");
				$(this).parent().parent().find(".priceAndkind").hide();
				$(this).parent().parent().find(".price").hide();
			}
			//金额+件数
			else if(cond=="2"){
				$(this).parent().parent().find(".kind").hide();
				$(this).parent().parent().find(".priceAndkind").css("display","inline");
				$(this).parent().parent().find(".price").hide();
			}
		})
		
		$("#addPackage").click(function(){
			$("#packageTable").toggle();
		})
		
		$("input[name='canPackage']").change(function(){
			var canPackage=$(this).val();
			//1代表不包邮 0代表包邮
			if(canPackage==1){
				//$("#addPackage").hide();
				//$("#setting").hide();
				$(".bubaoyou").show()
			}else{
				$(".bubaoyou").hide()
				//$("#addPackage").show();
			}
		})
	})
	
	
	//点击为指定地区城市设置运费 添加运费行
	$("#setFare").click(function(){
		addFareTr();
	});
	
	$("#setPackage").click(function(){
	  $("#packageTable").toggle();
	});
	
	$(document).delegate(".delFare","click",function(){
		$(this).parent().parent().remove();
	});
	
	$(document).delegate(".delPackage","click",function(){
		$(this).parent().parent().remove();
	});
	
	function addFareTr(){
		var dom=$("#fm").clone();
		dom.css("display","table-row");
		dom.removeAttr("id");
		dom.find(".tagId").SumoSelect({csvDispCount: 200,
	       captionFormat: '已经选择{0}个城市	',
	       isSingle:false,
	       search:false});
		$("#fareTable").append(dom);
	}
	
	function addPackageTr(){
		var dom=$("#pm").clone();
		dom.css("display","table-row");
		dom.removeAttr("id");
		dom.find(".tagId").SumoSelect({csvDispCount: 200,
	       captionFormat: '已经选择{0}个城市	',
	       isSingle:false,
	       search:false});
		$("#packageTable").append(dom);
		
	}
	
	$(document).delegate(".delFare","click",function(){
		$(this).parent().parent().remove();
	});
	
	$(document).delegate(".delPackage","click",function(){
		$(this).parent().parent().remove();
	});
</script>

<script>
	$(function(){
		$("#return").click(function(){
			window.location.href="/system/fare";
		})
		$("#submit").click(function(){
				var canPackage=$("input[name='canPackage']:checked").val();
				if(canPackage=='0'){
				//包邮
					submitByUser();
				}else{
				//不包邮
					submitByAdmin();
				}
		})
		
		function submitByUser(){
				var name=$("#name").val();
				var canPackage=$("input[name='canPackage']:checked").val();
				var priceWay=$("input[name='priceWay']:checked").val();
				if(name==""){
					$.err("模板名称不能为空");
					return false;
				}
				if(canPackage==""){
					$.err("是否包邮不能为空");
					return false;
				}
				if(priceWay==""){
					$.err("计价方式不能为空");
					return false;
				}
				var transportTemplate = {};  
				transportTemplate.name = name;  
				transportTemplate.priceWay = priceWay;  
				transportTemplate.canPackage=canPackage
				
				$.ajax({  
				    type: "POST",  
				    url: "/system/fare/adduser",  
				    data: {
				    	transportTemplate:JSON.stringify(transportTemplate)
				    },
				    success: function(data){  
				    	if(data.status=='ok'){
				    		$.msg("添加成功");
				    		window.location.href="/system/fare";
				    	}else{
				    		$.err(data.status);
				    	}
				    }  
				});  
		}
		
		function submitByAdmin(){
				var packageMails=null;
				var transportFrees=null;
				transportFrees=loadFareArray();
				if(transportFrees==false){
				 return;
				}
				if($("#packageTable").css("display")!="none"){
					 var packageResult = loadPackageArray();
					 if(packageResult==false){
					   return;
					 }else{
					   packageMails=packageResult;
					 }
				}
				var name=$("#name").val();
				var canPackage=$("input[name='canPackage']:checked").val();
				var priceWay=$("input[name='priceWay']:checked").val();
				if(name==""){
					$.err("模板名称不能为空");
					return false;
				}
				if(canPackage==""){
					$.err("是否包邮不能为空");
					return false;
				}
				if(priceWay==""){
					$.err("计价方式不能为空");
					return false;
				}
				var transportTemplate = {};  
				transportTemplate.name = name;  
				transportTemplate.priceWay = priceWay;  
				transportTemplate.canPackage=canPackage
				
				transportTemplate.packageMails=packageMails;
				transportTemplate.transportFrees=transportFrees;
				console.log(transportTemplate);
				
				$.ajax({  
				    type: "POST",  
				    url: "/system/fare/add",  
				    data: {
				    	transportTemplate:JSON.stringify(transportTemplate)
				    },
				    success: function(data){  
				    	if(data.status=='ok'){
				    		$.msg("添加成功");
							setTimeout(function(){
				    		window.location.href="/system/fare";
							},1000);
				    	}else{
				    		$.err(data.status);
				    	}
				    }  
				});  
		}
		
		function loadFareArray(){
			//获取运送记录和包邮费集合
			var len=$("#fareTable tr:gt(2)").length+2;
			var transportFrees = new Array();
			var defaultArea="全国"
			var defaultNum=$(".header input[name='num']").val();
			var defaultPrice=$(".header input[name='price']").val();
			var defaultAddNum=$(".header input[name='addNum']").val();
			var defaultAddPrice=$(".header input[name='addPrice']").val();
			var canDefault=1;
			if(defaultNum==""||defaultPrice==""||defaultAddNum==""||defaultAddPrice==""){
				$.err("默认运费参数不能为空");
				return false;
			}
			transportFrees.push({areas:defaultArea,canDefault:1,num:defaultNum,price:defaultPrice,addNum:defaultAddNum,addPrice:defaultAddPrice});
			for(var i=2;i<=len;i++){
				var areas=$("#fareTable tr:eq("+i+") td .tagId").val();
				if(areas==undefined){
					continue;
				}
				var area="";
				for(var j=0;j<areas.length;j++){
					area+=areas[j];
					if(j!=areas.length-1){
						area+="/";
					}
				}
				var canDefault=0;
				var num=$("#fareTable tr:eq("+i+") td .num").val();
				var price=$("#fareTable tr:eq("+i+") td .price").val();
				var addNum=$("#fareTable tr:eq("+i+") td .addNum").val();
				var addPrice=$("#fareTable tr:eq("+i+") td .addPrice").val();
				if(num==""||price==""||addNum==""||addPrice==""){
					$.err("指定城市参数不能为空");
					return false;
				}
				transportFrees.push({areas:area,canDefault:0,num:num,price:price,addNum:addNum,addPrice:addPrice});
			}
			
			
				return transportFrees;
		}
		function loadPackageArray(){
		var packageMails = new Array();
		$("#packageTable .packageModel").each(function(e){
		   var target = $(this);
		   var areas = "全国";
           var transportWay="快递";
    	   var defaultNum=null;
           var defaultPrice=null;
		   var canDefault=1;
    	   var conditionParameter=target.find(".conditionParameter").val();
    	   var num=null;
    	   var price=null;
					if(conditionParameter==0){
						//金额
						price=target.find("input[name='price']:eq(0)").val();
						if(!price){
							$.err("包邮条件不能为空");
							return false;
						}
					}else if(conditionParameter==1){
						//件数
						num=target.find("input[name='num']:eq(0)").val();
						if(!num){
							$.err("包邮条件不能为空");
							return false;
						}
					}else{
						//金额+件数
						price=$("#packageTable tr:eq("+i+") input[name='price']:eq(1)").val();
						num=target.find("input[name='num']:eq(1)").val();
						if(!num){
							$.err("包邮条件不能为空");
							return false;
						}
						if(!price){
							$.err("包邮条件不能为空");
							return false;
						}
					}
		   packageMails.push({areas:areas,canDefault:1,num:num,price:price,conditionParameter:conditionParameter,transportWay:transportWay});
		  
		});
		   return 	packageMails;	
		
		
		}
		function loadPackageArray1(){
			var len=$("#packageTable tr:gt(1)").length+2;
			var packageMails = new Array();
			var defaultArea="全国"
			var transportWay="快递";
			var defaultConditionParameter=$("#packageTable tr:eq(2) .conditionParameter").val();
			var defaultNum=null;
			var canDefault=1;
			var defaultPrice=null;
			if(defaultConditionParameter==0){
				defaultPrice=$("#packageTable tr:eq(2) input[name='price']:eq(0)").val();
			}else if(defaultConditionParameter==1){
				defaultNum=$("#packageTable tr:eq(2) input[name='num']:eq(0)").val();
			}else{
				defaultNum=$("#packageTable tr:eq(2) input[name='num']:eq(1)").val();
				defaultPrice=$("#packageTable tr:eq(2) input[name='price']:eq(1)").val();
			}
			
			var canDefault=0;
			packageMails.push({areas:defaultArea,canDefault:1,num:defaultNum,price:defaultPrice,conditionParameter:defaultConditionParameter,transportWay:transportWay,canDefault:canDefault});
			for(var i=0;i<len;i++){
				var areas=$("#packageTable tr:eq("+i+") td .tagId").val();
				if(areas==undefined){
					continue;
				}
				var area="";
				for(var j=0;j<areas.length;j++){
					area+=areas[j];
					if(j!=areas.length-1){
						area+="/";
					}
				}
					var transportWay="快递";
					var conditionParameter=$("#packageTable tr:eq("+i+") .conditionParameter").val();
					
					var num=null;
					var price=null;
					if(conditionParameter==0){
						//金额
						price=$("#packageTable tr:eq("+i+") input[name='price']:eq(0)").val();
						if(defaultPrice==""){
							$.err("包邮条件不能为空");
							return false;
						}
					}else if(conditionParameter==1){
						//件数
						num=$("#packageTable tr:eq("+i+") input[name='num']:eq(0)").val();
						if(defaultNum==""){
							$.err("包邮条件不能为空");
							return false;
						}
					}else{
						//金额+件数
						price=$("#packageTable tr:eq("+i+") input[name='price']:eq(1)").val();
						num=$("#packageTable tr:eq("+i+") input[name='num']:eq(1)").val();
						if(defaultNum==""){
							$.err("包邮条件不能为空");
							return false;
						}
						if(defaultPrice==""){
							$.err("包邮条件不能为空");
							return false;
						}
					}
					var canDefault=0;
					packageMails.push({areas:area,canDefault:0,num:num,price:price,conditionParameter:conditionParameter,transportWay:transportWay});
			}
					return packageMails;
		}	
		
		$(".baoyou ul li a").on("click",function(){
			if($(this).hasClass("baoyouActive")){
				//$(".baoyou_city").val($(this).html());
				$(this).removeClass("baoyouActive");
			}else{
				$(this).addClass("baoyouActive");
			}
			
		})
		
	})
		
	
</script>

<script>
	init.push(function(){
        window.PixelAdmin.MainMenu.prototype.detectActiveItem("/system/fare");
	});
	
	$("input[name='canPackage']").click(function(){
		if($("input[name='canPackage']:checked").val()=='0'){
			$(".bubaoyou").hide();
			$(".baoyou").show();
		}else{
			$(".baoyou").hide();
			$(".bubaoyou").show();
		}
	})
</script>
#end