#init("修改系统术语",["系统管理","系统术语","修改系统术语"])

#define($css)
 <link rel="stylesheet" href="/static/javascripts/jstree/themes/default/style.min.css" />
#end
<div class="panel colourable">
            <div class="panel-heading">
                <span class="panel-title"><b id="dept_name">&nbsp;</b></span>
                 <div class="panel-heading-controls">
                </div>
            </div>
<form class="form-horizontal" role="form" style="margin-top:10px" id="biaodan" action="/system/syskey/modify" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">术语类型</label>
    <div class="col-sm-6" style="padding-top:6px;">
    	<span >$!result.keyName</span>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">术语名称</label>
    <div class="col-sm-6" style="margin-top:4px">
    	 <input type="text"  id="keyValue"  name="keyValue" class="form-control" value="$!result.keyValue">
    </div>
  </div>
    <div class="form-group">
    	<label  class="col-sm-2 control-label"></label>
    <div class="col-sm-10 "  style="margin-top:4px" >
    	<input type="hidden"  id="id"  name="id" class="form-control" value="$!result.id">
		<button type="submit" class="btn btn-primary" id="edit">修改</button>
		<button type="button" class="btn btn-default" onclick="window.location='/system/syskey'">取消</button>
    </div>
    </div>
  </div>
</form>
</div>
#define($js)
<script>
	$(function(){
		
	})
	
	$(document).ready(function() {
	function submitForm(validator, form, submitButton) {
        	alert(1);
		    $.post(form.attr('action'), form.serialize(), function(data) {
		    	if(data.status=='ok'){
		    		$.msg(data);
		    	}else{
		    		$.err(data.status);
		    	}
		    }, 'json');
	}
		
    $('#biaodan').bootstrapValidator({
         message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        live: 'enabled',
        message: 'This value is not valid',
        fields:{
            keyName:{
                validators:{
                	notEmpty : {
		                message : '术语类型不能为空'
		            }
                }
            },
            keyValue:{
                validators:{
	                notEmpty : {
	              		  message : '术语名称不能为空'
	           		}
                }
            }
        }
    }).on('success.form.bv', function(e) {
			 // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(data) {
                if(data.status=='ok'){
		    		$.msg("修改成功");
		    		window.location.href="/system/syskey";
		    	}else{
		    		$.err(data.status);
		    	}
            }, 'json');
        });;
});
</script>

<script>
$(function(){
	init.push(function(){
        window.PixelAdmin.MainMenu.prototype.detectActiveItem("/system/syskey");
	});
})
</script>
#end