#init("",["权限管理","系统管理员","新增系统管理员"])
#define($css)
 <link rel="stylesheet" href="/static/javascripts/jstree/themes/default/style.min.css" />
 <link href="/static/stylesheets/sumoselect.css" rel="stylesheet" type="text/css">
 <style>
	 .SumoSelect > .optWrapper > .options li label{
	  margin-bottom:0px;
	 }
 </style>
#end
<div class="panel colourable" style="height:580px;">
    <div class="panel-heading">
                <span class="panel-title"><b id="dept_name">新增系统管理员</b></span>
                 <div class="panel-heading-controls">
                </div>
            </div>
<form class="form-horizontal" role="form" style="margin-top:20px" id="biaodan" >
  <div class="form-group">
    <label class="col-sm-2 control-label" for="name">管理员账号：</label>
    <div class="col-sm-4">
    	<input type="text"  id="name" name="name" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="linker" class="col-sm-2 control-label">管理员名字：</label>
    <div class="col-sm-4" style="margin-top:4px">
    	 <input type="text"  id="realName"  name="realName" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="linkerPhone" class="col-sm-2 control-label">密码：</label>
    <div class="col-sm-4" style="margin-top:4px">
    	 <input type="password"  id="password" name="password" class="form-control">
    </div>
  </div>
   <div class="form-group">
    <label for="linkerPhone" class="col-sm-2 control-label">确认密码：</label>
    <div class="col-sm-4" style="margin-top:4px">
    	 <input type="password"  id="rePassword" name="rePassword" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="status" class="col-sm-2 control-label">状态：</label>
    <div class="col-sm-6" style="margin-top:4px">
		<label class="radio-inline">
			<input type="radio" name="adminStatus" class="adminStatus" value="0" class="px" checked>
			<span class="lbl">正常</span>
		</label>
		<label class="radio-inline">
			<input type="radio" name="adminStatus" class="adminStatus" value="1" class="px">
			<span class="lbl">锁定</span>
		</label>
    </div>
  </div>
  <div class="form-group openMenuList">
			    <label for="inputPassword" class="col-sm-2 control-label">选择开通菜单:</label>
			    <div class="col-sm-4 no-padding-right no-padding-left" >
					<select multiple="multiple" placeholder="请选择开通的菜单"  name="functionIds" class="functionId SumoUnder"  tabindex="-1">
							 #foreach($function in $functions)
								 <optgroup label="$function.name">
									 #foreach($childTag in $function.children)
										<option value="$childTag.id" >$childTag.name</option>
									 #end
                                 </optgroup>
							 #end
                       </select>
			    </div>
	</div>
    <div class="form-group">
    	<label  class="col-sm-2 control-label"></label>
    <div class="col-sm-10 "  style="margin-top:4px" >
		<button type="button" class="btn btn-primary" id="add">确定</button>
		<button type="button" class="btn btn-default" onclick="window.location='/admin'">取消</button>
    </div>
    </div>
</form>
</div>
#define($js)
<script src="/static/javascripts/jquery.sumoselect.js"></script>
<script src="/static/javascripts/page/admin/admin-add.js"></script>
<script>
   init.push(function(){
        window.PixelAdmin.MainMenu.prototype.detectActiveItem("/admin");
	});
</script>
#end