#init("供应商管理",["会员管理","供应商管理"])
#define($css)
 <link rel="stylesheet" href="/static/javascripts/jstree/themes/default/style.min.css" />
 <script>
 var treeData=$treeData;
</script>
#end
##添加框
<div id="addModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加供应商</h4>
      </div>
      
    <form class="form-horizontal form" role="form" style="margin:10px 10px" id="addForm">
	  <div class="form-group">
	    <label for="name" class="col-sm-2 control-label">管理员名字</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="realName" name="realName">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">管理员登陆账号</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="name" name="name">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="linkerPhone" class="col-sm-2 control-label">管理员登陆密码</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="password" name="password">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="linkerPhone" class="col-sm-2 control-label">再次确认密码</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="_password" name="_password">
	    </div>
	  </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="addSupplyCompany">添加</button>
      </div>
	</form>
    </div>
  </div>
</div>

##修改框
<div id="modifyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加供应商</h4>
      </div>
      
    <form class="form-horizontal form" role="form" style="margin:10px 10px" id="updateForm">
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">账号</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="name" name="name">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="name" class="col-sm-2 control-label">登陆名称</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="realName" name="realName">
	    </div>
	  </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="modifySupplyCompany">修改</button>
      </div>
	</form>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-3`">
     <div id="supplierCompanyTree"></div>
</div>

<div class="col-md-8 col-sm-8">
   <input type="hidden" id="id"/>
	     <div id="content">
	     	
	     </div>
</div>
#define($js)
<script src="/static/javascripts/jstree/jstree.min.js"></script>
<script src="/static/javascripts/page/admin/supplierAdmin.js"></script>
#end