#init("",["会员管理","会员列表"])
<style >
	th{cursor:pointer}
th.sorted,th:hover{}
th.no-sort,th.no-sort:hover{cursor:not-allowed}
th.sorted.ascending:after{content:"  \2191"}
th.sorted.descending:after{content:" \2193"}
</style>
<div class="col-md-12">


        <div class="panel colourable">
            <div class="panel-heading">
                <span class="panel-title"><b id="dept_name">&nbsp;</b></span>
                 <div class="panel-heading-controls">
                </div>
            </div>
            <div class="panel-body">
            <div class="row">
                    <div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-5 control-label no-padding-right no-padding-left">手机号码：</label>
						<div class="col-md-7 row">
						  <input type="text" class="form-control" id="moblie">
						</div>
					 </div>
                    </div>
					<div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-5 control-label no-padding-right no-padding-left">会员ID：</label>
						<div class="col-md-7 row">
						  <input type="text" class="form-control" id="memberId">
						</div>
					 </div>
                    </div>
					<div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-4 control-label no-padding-right no-padding-left">会员名：</label>
						<div class="col-md-8 row">
						  <input type="text" class="form-control" id="name">
						</div>
					 </div>
                    </div>
					
					<div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-5 control-label no-padding-right no-padding-left" style="text-indent:-20px;">会员归属地：</label>
						<div class="col-md-7 row">
                         <select  name="provinceCode" size="1" class="form-control" id="seachprov"  aria-required="true" onChange="changeComplexProvince(this.value, sub_array, 'seachcity', 'seachdistrict');">
                           <option value="0">请选择</option>
                        </select>
                        <select style="width:120px; margin:0 10px; display:none" name="cityCode" size="1" id="seachcity" onChange="changeCity(this.value,'seachdistrict','seachdistrict');">
                            <option value="0">请选择</option>
                        </select>
                        <span id="seachdistrict_div" >
                            <select style="width:120px;display:none;" name="districtCode" size="1" onChange="setPostCode(this.value);" id="seachdistrict">
                                <option value="0">请选择</option>
                            </select>
                        </span>
                         <span id="mgs_deliver_contury"></span>
						</div>
					 </div>
                    </div>
                    
            </div>
			<div class="row" style="margin-top:20px;">
				 <div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-5 control-label no-padding-right no-padding-left " style="text-indent:-30px;">注册时间(开始)：</label>
						<div class="col-md-7 row">
						  <input type="text" class="form-control"  id="startRegisterTime">
						</div>
					 </div>
                   </div>
                    <div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-5 control-label no-padding-right no-padding-left" style="text-indent:-30px;">注册时间(结束)：</label>
						<div class="col-md-7 row">
						  <input type="text" class="form-control"  id="endRegisterTime">
						</div>
					 </div>
                   </div>
				   <div class="col-md-3">
					  <div class="form-horizontal">
						<label class="col-md-4 control-label no-padding-right no-padding-left" style="text-indent:-20px;">会员类型：</label>
						<div class="col-md-8 row">
						  <select class="form-control" id="gradeName">
						   <option>请选择</option>
                           <option>普通</option>
                           <option>一级</option>
                           <option>二级</option>
                           <option>三级</option>
                         </select>
						</div>
					 </div>
                   </div>
				   <div class="col-md-3">
    						   <div class="form-horizontal" style="text-align:center;">
							   </div>
				   </div>
				    <div class="col-md-3">
						  <div class="form-horizontal" style="text-align:center;">
    						   <button class="btn btn-primary searchBtn" type="button"><i class="fa fa-search"></i> 查询</button>
							   <button class="btn btn-default resetBtn" type="reset"><i class="fa fa-undo"></i> 重置</button>
						       <button class="btn btn-default down" type="reset">导出</button>
					      </div>
				   </div>
			</div>
				
            </div>
        </div>
	</div>
		
	<div class="panel-body" id="record"></div>
#define($js)
<script type="text/javascript" src="/static/javascripts/jquery.tablesort.min.js"></script>
<script src="/static/javascripts/page/member/member-list.js"></script>
<script type="text/javascript" src="/static/javascripts/area/AreaData_min.js"></script>
<script type="text/javascript" src="/static/javascripts/area/Area.js"></script>

	
<script>
$(function () {
           initComplexArea('seachprov', 'seachcity', 'seachdistrict', area_array, sub_array, '', '', '');
 });
</script>
#end