#set($layout="inc/blank.vm")
#if($pageBean.recordList.size()!=0)
<div><b>会员总数：$!sum</b></div>
#end
<table class="table table-striped table-bordered table-hover sonnenjahrTable">
<thead>
        <tr>
          <th>ID</th>
		  <th>登陆类型</th>
          <th>会员名</th>
          <th class="number">手机号码</th>
          <th>归属地</th>
          <th>注册时间</th>
          <th>会员等级</th>
          <th class="number">用户数</th>
          <th>操作</th>
        </tr>
</thead>
		<tbody>
		#if($pageBean.recordList.size()==0)
		<tr>
			<td colspan="9" style="text-align:center">占无数据</td>
		</tr>
		#else
		#foreach($obj in $pageBean.recordList)
        <tr>
          <td>$obj.id</td>
          <td>
		      #if($!obj.thirdType=='qq')
			   QQ
    		  #end
    		  #if($!obj.thirdType=='wechat')
    		        微信
    		  #end
    		  #if($!obj.thirdType=='mobile'||!$!obj.thirdType)
    		        手机号
			  #end
		  
		  </td>
          <td>$!obj.name</td>
          <td>$!obj.mobile</td>
          <td>$!obj.province</td>
          <td>$velocityTool.getTime($!obj.registerTime)</td>
          <td>$!obj.gradeName</td>
          <td>
          #if($!obj.userNum!='0')
          	<a href="/user?memberId=$!obj.id">$!obj.userNum</a>
          #else
          	<a>$!obj.userNum</a>
          #end
          </td>
          <td>
          	<a href="/member/getupdate?id=$!obj.id">编辑</a>
          	#if($!obj.status=='0')
          		<a href="#" class="block" value="$!obj.id">锁定</a>
          	#else
          		<a href="#" class   ="release" value="$!obj.id">解锁</a>
          	#end
          </td>
        </tr>
        #end
		#end
      </tbody>
</table>

#pageNation($pageBean)
