#init("",["用户管理","用户列表","用户查看"])
#define($css)
 <link rel="stylesheet" href="/static/javascripts/jstree/themes/default/style.min.css" />
#end
<style>
	.block{margin:10px 10px}
	.align-left{
	  text-align: left !important;
	  font-weight: normal !important;
	}
</style>
<div class="panel colourable">
            <div class="panel-heading">
                <span class="panel-title"><b id="dept_name">地址信息</b></span>
                 <div class="panel-heading-controls">
                </div>
            </div>
			<div class="panel-body">
				  <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">收货人：</label>
						<div class="col-md-9 row">
							<label class="col-md-3 control-label align-left">$!reuslt.name</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
				  <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">固定电话：</label>
						<div class="col-md-9 row">
							<label class="col-md-3 control-label align-left">$!reuslt.phone</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
				  <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">手机号：</label>
						<div class="col-md-9 row">
							<label class="col-md-3 control-label align-left">$!reuslt.mobile</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
				  <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">收货地址：</label>
						<div class="col-md-9 row">
							<label class="col-md-3 control-label align-left">$!result.address</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
			</div>
</div>
<div class="panel colourable">
            <div class="panel-heading">
                <span class="panel-title"><b id="dept_name">认证信息</b></span>
                 <div class="panel-heading-controls">
                </div>
            </div>
			<div class="panel-body">
				  <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">真实姓名：</label>
						<div class="col-md-9 row">
							<label class="col-md-12 control-label align-left">$!result.name</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
				  <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">身份证号：</label>
						<div class="col-md-9 row">
							<label class="col-md-3 control-label align-left">$!velocityTool.getidentityNum($!result.identityNum)</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
				  <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">身份证正面：</label>
						<div class="col-md-9 row">
							<label class="col-md-3 control-label align-left">
							    #if(!$result.identityFrontUrl)
                            	  	未上传
                                #else
                            	  	已上传
                            	#end
							</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
				  <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">身份证反面：</label>
						<div class="col-md-9 row">
							<label class="col-md-3 control-label align-left">
							   #if(!$result.identityBackUrl)
                        	  	未上传
                        	  #else
                        	  	已上传
                        	  #end
							
							</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
				   <div class="row">
                   <div class="col-md-6">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-3 control-label no-padding-right no-padding-left">手持身份证：</label>
						<div class="col-md-9 row">
							<label class="col-md-3 control-label align-left">
							    #if(!$result.identityHandUrl)
                              		未上传
                            	#else
                            	              已上传
                            	#end
							
							</label>
						</div>
						</div>
					 </div>
                   </div>
				
			      </div>
			</div>
</div> 

	  
    <div class="form-group">
    <div class="col-sm-10 "  style="margin-top:4px" >
		<button type="button" class="btn btn-default" onclick="window.location='/user'">返回</button>
    </div>
    </div>
  </div>
</form>
</div>
#define($js)
<script>
	init.push(function(){
        window.PixelAdmin.MainMenu.prototype.detectActiveItem("/user");
	});
</script>
#end