#init("结算列表",["结算管理","结算列表"])
#define($css)
 <link href="/static/stylesheets/bootstrap.tree.css" rel="stylesheet" type="text/css">
 <style>
#myTab>li>a{
 margin-right:0px;
}
 </style>
#end
<div class="col-md-12">


        <div class="panel colourable">
            <div class="panel-body">
            <div class="row">
				<div class="col-md-4">
    			  <div class="form-horizontal">
    				<div class="form-group">
    			    <label class="col-md-4 control-label no-padding-right no-padding-left">海关批次号：</label>
                    <div class="col-md-8 row">
    					<input type="text" class="form-control" id="customsCode">
    				</div>
    				</div>
    				</div>
				</div>
				<div class="col-md-4">
    			  <div class="form-horizontal">
    				<div class="form-group">
    			    <label class="col-md-4 control-label no-padding-right no-padding-left">采购单号：</label>
                    <div class="col-md-8 row">
    					<input type="text" class="form-control" id="purchaseCode">
    				</div>
    				</div>
    				</div>
				</div>
				<div class="col-md-4">
    			  <div class="form-horizontal">
    				<div class="form-group">
    			    <label class="col-md-4 control-label no-padding-right no-padding-left">订单号：</label>
                    <div class="col-md-8 row">
    					<input type="text" class="form-control" id="orderCode">
    				</div>
    				</div>
    				</div>
				</div>
			</div>
			<div class="row">
                    <div class="col-md-8">
					  <div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-2 control-label no-padding-right no-padding-left">采购单生成日期：</label>
						<div class="col-md-10 row">
						  <div class="input-daterange input-group" id="bs-datepicker-range">
							<input type="text" class="form-control" name="beginCreateTime" id="beginCreateTime" placeholder="开始时间">
							<span class="input-group-addon">-</span>
							<input type="text" class="form-control" name="endCreateTime" id="endCreateTime" placeholder="结束时间">
						</div>
						</div>
                       </div>
					 </div>
                    </div>
					<div class="col-md-2 row">
						      <button class="btn  btn-primary" id="serachBtn">搜索</button>
						 </div>
			  </div>
					
            </div>
           </div>
			
				
        </div>
	</div>
 <div class="col-md-12">
   <div class="panel colourable">
	<div class="panel-body">
<div id="myTabContent" class="tab-content">
	
</div>
</div>
   </div>
</div>

<div class="modal fade" id="billModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">采购单结算</h4>
            </div>
            <div class="modal-body">
			   <div class="bill-content">
                  <form class="form-horizontal" role="form" style="margin:10px 10px" id="billForm">
                	  <div class="form-group">
                	    <label for="purchaseCode" class="col-sm-3 control-label">采购单号：</label>
                	    <div class="col-sm-9 row">
						  <input type="hidden" class="form-control purchaseOrderId" name="purchaseOrderId">	
                	      <input type="text" class="form-control purchaseCode" readonly>
                	    </div>
                	  </div>
                	  <div class="form-group">
                	    <label for="code" class="col-sm-3 control-label">结算部门：</label>
                	    <div class="col-sm-9 row">
						<input type="hidden" value="" name="supplierCompanyName" id="supplierCompanyName">
                	      <select class="form-control" name="supplierCompanyId" id="supplierCompanyId">
						   <option value="">请选择 </option>
							#foreach($supplier in $suppliers)
                                <option value="$supplier.id">$supplier.name</option>
                            #end						   
                         </select>
                	    </div>
                	  </div>
					  <div class="form-group">
                	    <label for="code" class="col-sm-3 control-label">结算金额：</label>
                	    <div class="col-sm-9 row">
                	      <input type="text" class="form-control priceStr" name="priceStr"  readonly id="priceStr">
                	    </div>
                	  </div>
					  <div class="form-group">
                	    <label for="code" class="col-sm-3 control-label">结算件数：</label>
                	    <div class="col-sm-9 row">
                	      <input type="text" class="form-control"  name="num" id="num" readonly >
                	    </div>
                	  </div>
	              </form>
			   </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-primary addBillBtn">确定</button>
                <button type="button" class="btn  btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="costomsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">关联海关批次号</h4>
            </div>
            <div class="modal-body">
			   <div class="costoms-content">
                  <form class="form-horizontal" role="form" style="margin:10px 10px" id="costomsForm">
                	  <div class="form-group">
                	    <label for="purchaseCode" class="col-sm-3 control-label">采购单号：</label>
                	    <div class="col-sm-9 row">
						  <input type="hidden" class="form-control purchaseOrderId" name="purchaseOrderId">	
                	      <input type="text" class="form-control purchaseCode" readonly>
                	    </div>
                	  </div>
                	  <div class="form-group">
                	    <label for="code" class="col-sm-3 control-label">海关批次号：</label>
                	    <div class="col-sm-9 row">
                	      <input type="text" class="form-control"  name="code" id="code">
                	    </div>
                	  </div>
	              </form>
			   </div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-primary addCustomsBtn">确定</button>
                <button type="button" class="btn  btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
#define($js)
<script src="/static/javascripts/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/javascripts/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/static/javascripts/page/purchase/settlement-list.js"></script>
<script>

</script>
#end